body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #eee;

}
.nav {
    background-color: white;
}

.navbar {
    background-color: white;
    max-height: none;
    padding: inherit;
}


.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    padding: 14px;
    margin: inherit;
    background-color:rgb(41, 167, 167);
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}
.navbar-brand img {
    max-height: 50px;
}

nav ul li a {
    font-size: 14px;
    margin: auto 10px;
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-collapse {
    position: absolute;
    right: 5%;
    font-size: small;
}

.nav-item {
    font-weight: bold;
}

/* .content {
    width: 90%;
    margin: 20px auto;
    padding: inherit;
} */

.buttons {
    margin-bottom: 8px;
}

h3 { 
    color: rgb(20,150,150);
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
       
}

.box {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px; 
    margin-right: 10px;
    padding: 10px 20px 15px;
    color:gray;
    background-color: white;
    width: auto;
    
}

.imageNav-content {
    margin-top: 35px;
    margin-bottom: 18px;
    color: black;
    background-color: white;
    padding: 10px 20px 35px;
}

.summary-header .imageNav-header {
    padding-left: 4px;
    padding-top: 15px;
}

.img-float-left {
    float: left;
    width: 40%;
    height: 50%;
}